body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background: rgb(98, 212, 167);
  background: linear-gradient(180deg, rgba(98, 212, 167, 1) 0%, rgba(25, 174, 204, 1) 35%, rgba(31, 146, 205, 1) 58%);
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  position: relative;
  background: #fff;
  padding: 1em 2em;
  max-width: 40%;
  margin: 2em auto;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.75em;
  margin-bottom: 0.6em;
}

.todoList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 1em 0;
  gap: 0.5em;
}

.todoList h3 {
  text-align: center;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.todoInfo {
  display: flex;
  gap: 1em;
  flex-grow: 1;
  padding: 0.5em;
  background-color: #e7e7e793;
  border-radius: 0.3em;
}

.todoText {
  flex: 1;
  font-size: 1.25em;
}

.iconButtons {
  display: flex;
  gap: 0.3em;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0.6em;
  border-radius: 0.3em;
  color: #fff;
}

.iconButton.edit {
  background-color: #954ce9;
}

.iconButton.delete {
  background-color: #cf4242;
}

.inputContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 2em;
}

.addTodo {
  flex: 1;
  padding: 0.5rem;
  font-style: italic;
  font-size: 16px;
}

.addButton {
  padding: 0.5rem 1rem;
  font-size: 18px;
  cursor: pointer;
  background-color: #954ce9;
  color: #fff;
}

.removeBtn {
  background-color: #4682b4;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.completed {
  background-color: #39df073b;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 143, 143, 0.5);
  z-index: 999;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #f0f0f0;
  padding: 1em 0.5em;
  border-radius: 0.3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.modalContent h2 {
  margin: 0;
  padding: 0.5em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.buttons button {
  padding: 0.2em 0.5em;
}

.modalContent input {
  width: 90%;
  flex: 1;
  padding: 0.5rem;
  font-style: italic;
  font-size: 16px;
}

.customBarWrapper {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.customBar {
  background-color: #e0e0e0;
  border-radius: 8px;
  width: 50%;
  height: 24px;
  overflow: hidden;
  position: relative;
}

.customBarFill {
  background-color: #33cf04;
  height: 100%;
  transition: width 0.3s ease;
}

.customBarLabel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-weight: bold;
}

.errorContainer {
  position: absolute;
  top: 120px;
  left: 35%;
  color: red;
  text-align: center;
  padding-top: 1em;
}

.paginator {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
  gap: 0.5em;
}

.paginatorBtn {
  padding: 0.3em 0.5em;
  font-size: 1em;
  border-radius: 0.3em;
}

.paginatorBtn:hover {
  cursor: pointer;
}

.active {
  background-color: #868686;
}